:root {
  --background-color-lightskyblue: lightskyblue;
  --background-color-royalblue: royalblue;
  --background-color-aqua: aqua;
  --background-color-aquamarine: aquamarine;
  --background-color-blue: blue;
  --background-color-mediumblue: rgb(5, 101, 196);
  --background-color-darkblue: darkblue;
  --accent-color-red: red;
  --accent-color-white: #ffffff;
}

body,
html {
  overflow: hidden;
}

body {
  background: linear-gradient(
    to top right,
    var(--background-color-lightskyblue),
    var(--background-color-royalblue),
    var(--background-color-aqua),
    var(--background-color-lightskyblue)
  );
}

a {
  color: lightskyblue;
  text-decoration: none;
}

.page {
  max-width: 1440px;
  height: 100vh;
  height: 100dvh;
  margin: 0 auto;
  padding: 0.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.playing-area-wrapper {
  position: relative;
  width: clamp(90dvw, 100%, 853px);
  height: 90vh;
  height: 90dvh;
  aspect-ratio: 16 / 9;
  display: flex;
  align-items: center;
  justify-content: center;
  border: orchid 3px solid;
}

h1 {
  font-family: 'Rubik Doodle Shadow';
  font-size: 4.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: darkblue;
}

.h1-playing-area {
  font-family: 'Cartoon Shout';
  font-size: 0.9rem;
  font-size: clamp(0.9rem, 2.5vw, 1.5rem);
  letter-spacing: normal;
  text-align: center;
}

.imprint {
  font-family: 'Cartoon Shout';
  text-align: center;
  color: white;
}

.imprint-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-button {
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.button-right {
  opacity: 0;
}

.back-button img {
  height: 100%;
}

h2,
h3,
p,
span {
  font-family: sans-serif;
}

h2 {
  margin: 0.5em 0 1em;
  font-size: 1.3rem;
  font-weight: 700;
}

h3 {
  margin: 0.5em 0 0.7em;
  font-size: 1.2rem;
  font-weight: 600;
}

.headline {
  display: none;
}

.headline p {
  position: absolute;
  top: 8px;
  right: 12px;
  rotate: -6deg;
  font-family: 'Salsa';
  font-size: 1.6rem;
  color: var(--accent-color-red);
}

.start-screen-outer-wrapper {
  /*  height: 100%;
  aspect-ratio: 16 / 9; */
  height: 100%;
  width: 100%;
  border: greenyellow 2px solid;
}

.start-screen-inner-wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr repeat(3, 1fr);
  grid-template-areas:
    'aside title title title'
    'aside main_area main_area main_area'
    'aside main_area main_area main_area'
    'aside main_area main_area main_area';
  background-image: url('../img/game_ui/PNG/basic_window/start_screen_bg.png');
  background-size: cover;
  background-position: center;

  overflow: hidden;
}

.start-screen-header {
  grid-area: title;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-screen-aside {
  grid-area: aside;
  background-image: url('../img/game_ui/PNG/basic_window/chain_1.png');
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.wooden-panel {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../img/game_ui/PNG/basic_window/wooden_panel.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.wooden-panel img {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story,
.game-rules,
.imprint-button,
.copyright {
  width: 100%;
  height: 100%;
  padding: 0 0 0.3em;
  background-color: transparent;
  border: none;
  font-family: 'Cartoon Shout';
  font-size: 0.8rem;
  color: var(--accent-color-white);
  cursor: pointer;
}

.story:hover,
.game-rules:hover,
.imprint-button:hover {
  text-decoration: underline;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.5rem;
  text-align: center;
  line-height: 1.5;
  cursor: auto;
}

.main-area {
  grid-area: main_area;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.mermaid-image1 {
  height: 200px;
  position: absolute;
  top: 10%;
  left: 0;
}

.mermaid-image2 {
  height: 200px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.mermaid-image3 {
  height: 200px;
  position: absolute;
  top: 10%;
  left: 80%;
}

.stone-slab {
  width: 80%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.start-panel {
  top: 12px;
  width: 250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(-6deg);
}

.wooden-start-panel {
  display: flex;
  align-items: center;
  justify-content: center;
}

.caption-start-game {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.start-game-text {
  font-family: 'Cartoon Shout';
  font-size: 0.8rem;
  color: var(--accent-color-white);
}

.start-game-button {
  width: 48px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.sound-button-wrapper {
  width: 150px;
  padding: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
    'button1 button2'
    'caption caption';
  gap: 8px;
  justify-items: center;
}

.music,
.noise {
  height: 48px;
  cursor: pointer;
}

.music {
  grid-area: button1;
}

.noise {
  grid-area: button2;
}

.music-text,
.noise-text {
  font-family: 'Cartoon Shout';
  font-size: 0.5rem;
  color: darkblue;
}

canvas {
  width: 100%;
  height: 100%;
  margin: auto;
  display: block;
  background-color: var(--background-color-darkblue);
}

.message {
  display: none;
}

.legal-information {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: var(--accent-color-white);
  background-color: royalblue;
}

/* .playing-area-wrapper img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:red 2px solid;
} */

.content-wrapper {
  height: 100%;
  padding: 2em 2em;
  overflow-y: auto;
  /* background-image: url('../img/game_ui/PNG/registration/window_2.png'); */
  background-image: url('../img/game_ui/PNG/settings/window_4.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  /* background-attachment: fixed; */
  /* border: red 1px solid; */
}

.content-wrapper::-webkit-scrollbar {
  width: 16px;
}

.content-wrapper::-webkit-scrollbar-track {
  background: #fcfcfc;
}

.content-wrapper::-webkit-scrollbar-thumb {
  background-color: grey;
  border: white 1.5px solid;
  border-radius: 8px;
}

.start-button {
  position: absolute;
  top: 0;
  left: 0;
}

.bold {
  font-weight: 700;
}

.d-none {
  display: none;
}

@media (min-width: 853px) and (min-height: 560px) and (orientation: landscape) {
  .playing-area-wrapper {
    flex-direction: column;
  }

  .headline {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .start-screen-outer-wrapper {
    height: calc(100% - 68px);
  }
}

@media (min-width: 853px) and (height < 480px) and (orientation: landscape) {
  .playing-area-wrapper {
    max-height: 90vh;
    max-height: 90dvh;
  }
}

@media (min-width: 853px) and (height > 480px) and (orientation: landscape) {
  .playing-area-wrapper {
    width: 100%;
    max-width: 853px;
    height: 100%;
    max-height: 560px;
  }


  canvas {
    width: 853px;
    /* width: 90vw; */
    height: 480px;
    /* height: calc(90vw * 480 / 720); */
  }
}

@media (max-width: 853px) and (orientation: portrait) {
  .page {
    position: relative;
  }

  .playing-area-wrapper {
    display: none;
  }

  canvas {
    width: 100%;
    height: calc(100vw * 480 / 853);
  }
  .message {
    width: 100%;
    padding: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    text-align: center;
    line-height: 1.3;
    font-family: 'Salsa';
    font-size: 24px;
    color: var(--accent-color-white);
  }
}
